*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor-primária: rgb(0, 0, 27);
    --cor-secundária: rgb(0, 0, 37);
    --cor-título: #6C6CE1;
    --cor-títuloDark: #363694;
    --cor-base: #1e1825;
    --font-títulos: 'Inter', sans-serif;
    --font-parágrafos: 'Cabin', sans-serif;
}
@keyframes logo {
    0%{
        color: var(--cor-base);
    }
    100%{
        color: var(--cor-títuloDark);
    }
}
body{
    background-color: white;
}
/*estilização do header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.916), white);
    backdrop-filter: blur(1px);
}
.container-logo{
    margin-left: 50px;
    z-index: -1;
}
.logo{
    width: 150px;
    filter: brightness(0)
}
    /*menu*/
    .menu{
        height: 100px;
        width: max-content;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        animation-name: MenuClose;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    .menuOpen{
        height: 100vh;
        width: 100%;
        background-color: rgb(8, 8, 14);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        animation-name: MenuOpen;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        animation-timing-function: none;
        z-index: -1;
    }
    @keyframes MenuOpen {
        0%{
            top: 0;
            height: 0vh;
        }
        100%{
            top: 0;
            height: 100vh;
        }
    }
    @keyframes MenuClose {
        0%{
            top: 0;
            height: 100vh;
        }
        100%{
            top: 0;
            height: 0vh;
        }
    }
    .bttMenu{
        z-index: 200;
        position: absolute;
        top: 40px;
        right: 35px;
        border: none;
        outline: none;
        background: none;
        height: 50px;
        width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        cursor: pointer;
        transition: 0.1s;
    }
    .bttMenu2{
        position: absolute;
        top: 40px;
        right: 35px;
        border: none;
        outline: none;
        background: none;
        height: 50px;
        width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.1s;
    }
    .bttMenu span{
        font-family: var(--font-parágrafos);
        font-size: 12pt;
        color: black;
        transition: 0.2s;
    }
    .bttMenu2 span{
        font-family: var(--font-parágrafos);
        font-size: 12pt;
        color: white;
        transition: 0.2s;
    }
    .bttMenu div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition: 0.2s;
    }
    .bttMenu2 div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }
    .bttMenu:hover{
        span{
            color: gray;
        }
        div:nth-child(2){
            gap: 8px;
        }
        .barra-menu{
            background-color: gray;
        }
    }
    .bttMenu2:hover{
        .container-barras{
            rotate: 90deg;
        }
    }
    .barra-menu{
        height: 3px;
        width: 25px;
        border-radius: 5px;
        background-color: black;
        transition: 0.2s;
    }
    .menuMensage{
        display: none;
    }
    .menuMensageOpen{
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        animation-name: showMenu;
        animation-delay: 0.5s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        gap: 5px;
        color: white;
        font-family: var(--font-parágrafos);
        font-size: 15pt;
        margin-bottom: 50px;
    }
    @keyframes showMenu {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .line{
        background-color: white;
        height: 2px;
        width: 20px;
    }
    .nav-buttons{
        display: none;
    }
    .nav-Visible{
        opacity: 0;
        animation-name: showMenu;
        animation-delay: 0.6s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        display: block;
        background: none;
        color: gray;
        border: none;
        outline: none;
        font-size: 25pt;
        transition: 0.2s;
        cursor: pointer;
    }
    .nav-Visible:hover{
        color: white;
        transform: scale(1.4);
    }

/*estilos seção topo*/
.section-top{
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.desc-perfil{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 80px;
    gap: 10px;
    opacity: 0;
    animation-name: descanimation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes descanimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.desc-perfil h3{
    font-family: var(--font-parágrafos);
    font-size: 10pt;
    font-weight: 100;
    letter-spacing: 15px;
    color: gray;
}
.desc-perfil h2{
    font-family: var(--font-títulos);
    font-size: 35pt;
}
.link-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translate(5px, 50px);
}
.iconsPerfil{
    filter: brightness(0);
    height: 25px;
    cursor: pointer;
    transition: 0.2s;
}
.iconsPerfil:hover{
    filter: brightness(0.5);
}
.img-perfil{
    z-index: -1;
    width: 50%;
    height: 100%;
}
/*estilos roda-pé*/
footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient( to left top, var(--cor-título), rgb(0, 0, 83)) ;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-bottom: 50px;
}
.titulo-footer{
    margin: auto;
    width: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--font-títulos);
    font-size: 13pt;
    color: white;
}
#FormContact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    width: 30%;
}
#formulario h1{
    font-family: var(--font-títulos);
    font-size: 13pt;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}
.Info{
    margin-top: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    font-family: var(--font-parágrafos);
    font-size: 11pt;
    color: gray;
}
.Info::placeholder{
    color: rgb(80, 80, 80);
}
#textoEnvio{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    font-family: var(--font-parágrafos);
    font-size: 10pt;
    color: white;
    padding: 20px;
    margin-top: 10px;
    outline: none;
}
#textoEnvio::placeholder{
    color: white;
}
#bttsend{
    background-color: black;
    color: white;
    margin-top: 30px;
    width: max-content;
    height: max-content;
    font-family: var(--font-títulos);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#linha-de-separação{
    background-color: rgba(255, 255, 255, 0.178);
    height: 450px;
    width: 2px;
    color: rgba(255, 255, 255, 0);
}
#links{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
}
#Redes-Sociais{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 250px;
    justify-content: space-evenly;
    font-family: var(--cor-título);
    font-size: 13pt;
}
.divIMG{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-image: linear-gradient( to right, var(--cor-título), var(--cor-títuloDark));
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    margin-top: 5px;
    cursor: pointer;
}
.divIMG:hover{
    scale: 1.1;
}
#copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;/*essa atribuição garante que ele fique no funco de #copy*/
}
#Copy-Right{
    font-family: var(--font-parágrafos);
    font-size: 9pt;
    color: white;
}
.Socialimg{
    width: 30px;
    height: 30px;
}
#logo{
    color: var(--cor-base);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#returnTopo{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: black;
    font-family: var(--font-títulos);
    font-weight: 900;
    position: fixed;
    top: 80vh;
    right: 30px;
    cursor: pointer;
    z-index: 7000;
}

/*responsividade*/
@media (max-width: 900px){
    .nameLogo{
        font-size: 8pt;
    }
    .description{
        width: 300px;
    }
    #FormContact{
        flex-direction: column;
    }
    #formulario{
        width: 60%;
    }
    #linha-de-separação{
        width: 70%;
        height: 3px;
        margin-top: 40px;
    }
    #links{
        width: 100%;
    }
    #Redes-Sociais{
        flex-direction: row;
        margin: auto;
        margin-top: 30px;
        width: 300px;
    }
    #copy{
        width: 60%;
        margin: auto;
    }
}
@media (max-width: 750px){
    #LimaDev{
        display: none;
        z-index: 50000;
    }
    footer{
        border-radius: 0px;
    }
}
@media (max-width: 490px){
    input{
        height: 20px;
    }
    #formulario{
        width: 90%;
    }
    #formulario h1{
        font-size: 10pt;
    }
}
@media (max-width: 400px){
    input{
        font-size: 10pt;
        height: 10px;
    }
    #NameAlbert h2{
        font-size: 19pt;
    }
}
