*{
    margin: 0%;
    padding: 0%;
}
:root{
    --cor-primária: rgb(0, 0, 27);
    --cor-secundária: rgb(0, 0, 37);
    --cor-título: #6C6CE1;
    --cor-títuloDark: #363694;
    --cor-base: #1e1825;
    --font-títulos: 'Inter', sans-serif;
    --font-parágrafos: 'Cabin', sans-serif;
    --width-mainBoxes: 95%;
}
/*menu*/
    .menuOpen{
        height: 100vh;
        width: 100%;
        background-color: rgb(8, 8, 14);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        animation-name: MenuOpen;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        animation-timing-function: none;
        z-index: 1;
    }
    @keyframes MenuOpen {
        0%{
            top: 0;
            height: 0vh;
        }
        100%{
            top: 0;
            height: 100vh;
        }
    }
    @keyframes MenuClose {
        0%{
            top: 0;
            height: 100vh;
        }
        100%{
            top: 0;
            height: 0vh;
        }
    }
    .bttMenu2{
        position: fixed;
        top: 40px;
        right: 35px;
        border: none;
        outline: none;
        background: none;
        height: 50px;
        width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.1s;
        z-index: 3;
    }
    .bttMenu2 div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }
    .bttMenu2:hover{
        .container-barras{
            rotate: 90deg;
        }
    }
    .menuMensageOpen{
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        animation-name: showMenu;
        animation-delay: 0.5s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        gap: 5px;
        color: white;
        font-family: var(--font-parágrafos);
        font-size: 15pt;
        margin-bottom: 50px;
    }
    @keyframes showMenu {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .line{
        background-color: white;
        height: 2px;
        width: 20px;
    }
    .nav-Visible{
        opacity: 0;
        animation-name: showMenu;
        animation-delay: 0.6s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        font-family: var(--font-parágrafos);
        text-decoration: none;
        display: block;
        background: none;
        color: gray;
        border: none;
        outline: none;
        font-size: 40pt;
        transition: 0.2s;
        cursor: pointer;
    }
    .nav-Visible:hover{
        color: white;
        transform: translateX(30px);
    }
    .copyTop2{
        opacity: 0;
        animation-name: showMenu;
        animation-delay: 0.6s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: translateY(50px);
        font-family: var(--font-parágrafos);
        font-size: 8pt;
        color: white;
    }
/*box about*/
.box-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.box-img-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.box-img-perfil div{
    background-image: url('imagens/está aberta (2).png');
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    transition: 0.5s;
}
.box-img-perfil div:hover{
    scale: 1.1;
}
.desc-albert{
    width: 50%;
}
.desc-albert h2{
    font-family: var(--font-parágrafos);
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}
.desc-albert p{
    width: 80%;
    font-family: var(--font-parágrafos);
    font-size: 10pt;
    font-weight: 100;
    margin-top: 10px;
    letter-spacing: 1px;
    color: rgb(234, 234, 234);
}
.box-buttonRedirect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.desc-albert div a button{
    margin-top: 50px;
    background-color: white;
    border: 1px solid white;
    outline: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: black;
    font-size: 10pt;
    font-family: var(--font-títulos);
    transition: 0.2s;
}
.desc-albert div a button:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}
#button-projectByContact{
    margin-top: 50px;
    background-color: black;
    border: 1px solid white;
    outline: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 10pt;
    font-family: var(--font-títulos);
    transition: 0.2s;
}
@media (max-width: 900px){
    .box-img-perfil div{
        width: 250px;
        height: 250px;
    }
    .box-img-perfil div:hover{
        scale: 1.1;
    }
}
@media (max-width: 600px){
    .box-about{
        flex-direction: column;
        gap: 30px;
    }
    .box-img-perfil{
        width: 80%;
    }
    .desc-albert{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    .desc-albert p{
        width: 100%;
    }
}

/*habilidades*/
.habilidades-box{
    width: var(--width-mainBoxes);
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.habilidades-box h2{
    animation-name: showProject;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
    color: white;
    margin-top: 50px;
    font-family: var(--font-títulos);
    font-size: 25pt;
}
.habilidades-box section{
    animation-name: showProject;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Espaçamento entre os cards */
    width: max-content;
}
@media (max-width: 960px){
    .habilidades-box section{
        grid-template-columns: repeat(4, 150px);
    }
}
@media (max-width: 730px){
    .habilidades-box section{
        grid-template-columns: repeat(3, 150px);
    }
}
@media (max-width: 540px){
    .habilidades-box h2{
        font-size: 20pt;
    }
    .habilidades-box section{
        grid-template-columns: repeat(2, 150px);
    }
}
@media (max-width: 360px){
    .habilidades-box section{
        grid-template-columns: repeat(1, 1fr);
        animation-range: cover 0% cover 10%;
    }
    .Hab{
        width: 100px;
        height: 100px;
    }
}
.Hab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #242525;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    transition: 0.2s;
    cursor: pointer;
}
.Hab:hover{
    scale: 1.1;
}
.TechName{
    color: white;
    font-family: var(--font-parágrafos);
    font-size: 12pt;
    font-weight: 100;
}
.Hab img{
    height: 50px;
    width: 50px;
}



/*estilos da aba de projetos*/
.projetos{
    width: var(--width-mainBoxes);
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.present-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.present-project h1{
    font-family: var(--font-parágrafos);
    letter-spacing: 5px;
    font-size: 10pt;
    font-weight: 100;
    margin-left: 5px;
    color: gray;
}
.present-project h2{
    font-family: var(--font-títulos);
    font-size: 25pt;
    color: white;
    border-right: 1px solid rgb(218, 255, 54);
    padding-right: 15px;
}
.present-project a{
    color: white;
    font-family: var(--font-parágrafos);
    font-size: 12pt;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.present-project a img{
    width: 40px;
}



.box-projetos{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 25vw 25vw 25vw;
    column-gap: 4%;
    row-gap: 50px;
}
.box-projetosComplete{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 25vw 25vw 25vw;
    column-gap: 4%;
    row-gap: 50px;
}

#boxProjeto1{
    background-image: url("imagens/scrnli_13_11_2023_21-52-33.webp");
    background-size: cover;
    background-position: top center;
}
#boxProjeto2{
    background-image: url("imagens/scrnli_02_09_2024_18-14-30.webp");
    background-size: cover;
    background-position: top center;
}
#boxProjeto3{
    background-image: url("imagens/scrnli_15_05_2024_19-39-08.webp");
    background-size: cover;
    background-position: top left;
}
#boxProjeto4{
    background-image: url("imagens/scrnli_09_07_2024_01-03-40.webp");
    background-size: cover;
}
#boxProjeto5{
    background-image: url('imagens/designAcademia.webp');
    background-size: cover;
    background-position: center top;
}
#boxProjeto6{
    background-image: url('imagens/scrnli_03_09_2024_05-29-35.png');
    background-size: cover;
    background-position: center top;
}
#boxProjetoPersonal1{
    background-image: url('imagens/CifraSearch.webp');
    background-size: cover;
    background-position: top center;
}
#boxProjetoPersonal2{
    background-image: url('imagens/scrnli_02_09_2024_19-05-58.webp');
    background-size: cover;
    background-position: top center;
}
.container-projeto{
    border-radius: 5px;
    border: 1px solid rgb(40, 40, 40);
    animation-name: showProject;
    animation-duration: 1s;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
@keyframes showProject {/* as animações de aparição estão desativadas, para ativá-las mude o valor do from > transform > translate */
    from{
        transform: translateX(0vh);
    }
    to{
        transform: translateX(0);
    }
}
.info-projeto{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-image: linear-gradient( to top, rgba(255, 255, 255, 0), rgb(8, 8, 8));
    padding-left: 20px;
    padding-top: 20px;
    height: 100%;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.info-projeto:hover{
    background-color: rgba(8, 8, 14, 0.778);
    .data-project{
        opacity: 1;
        transition: 0.5s;
    }
    .tech-box{
        opacity: 1;
    }
    .info{
        opacity: 1;
    }
    .link-project{
        opacity: 1;
        transition: 0.5s;
    }
    .title-project{
        transform: translateY(0px);
    }
    .desc-projeto{
        opacity: 1;
        transition: 0.5s;
    }
}
.data-project{
    color: rgb(204, 204, 204);
    font-family: var(--font-parágrafos);
    opacity: 0;
}
.title-project{
    color: white;
    font-family: var(--font-títulos);
    transform: translateY(-20px);
    transition: 0.5s;
}
.desc-projeto{
    opacity: 0;
    font-weight: 100;
    color: white;
    font-family: var(--font-títulos);
    max-width: 70%;
}
.link-project{
    color: white;
    font-family: var(--font-parágrafos);
    font-weight: bolder;
    text-decoration: none;
    opacity: 0;
}
.tech-box{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    transition: 0.5s;
}
.tech-box div{
    height: 60px;
    width: 60px;
}
.tech-box div img{
    height: 100%;
}
.info{
    max-width: 80%;
    font-family: var(--font-parágrafos);
    color: rgb(199, 199, 199);
    transition: 0.5s;
    opacity: 0;
}
.link-project:hover{
    color: rgb(144, 144, 144);
}
.CallButton{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CallButton div{
    margin: auto;
    height: 30px;
    width: 20px;
    border-radius: 20px;
    border: 2px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.CallButton div span{
    width: 4px;
    height: 5px;
    transform: translateY(-10px);
    background-color: #f5f5f5;
    border-radius: 100%;
    animation-name: callbutton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes callbutton {
    0%{
        transform: translatey(-8px);
    }
    100%{
        transform: translateY(8px);
    }
}
/*CTA*/
.ctahome{
    margin-top: 50px;
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-bottom: 150px;
    animation-name: showProject;
    animation-range: cover 0% cover 40%;
    animation-timeline: view();
}
.ctahome h1{
    font-family: var(--font-parágrafos);
    font-size: 15pt;
    letter-spacing: 3px;
    font-weight: 200;
    color: #f5f5f5;
}
.ctahome a{
    font-family: var(--font-títulos);
    font-size: 40pt;
    color: #d7d7d7;
    text-decoration: none;
    border-bottom: 6px solid black;
    transition: 0.5s;
}
.ctahome a:hover{
    border-bottom: 6px solid #f5f5f5;
}
/*estilos roda-pé*/
footer{
    margin: auto;
    height: 200px;
    width: 90%;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 50px;
    gap: 10px;
    padding: 50px 20px;
}
.container-contact h3{
    font-family: var(--font-títulos);
    font-size: 12pt;
    color: #f5f5f5;
}
.container-contact h4{
    font-family: var(--font-títulos);
    font-size: 10pt;
    color: #f5f5f5;
}
.container-contact p{
    font-family: var(--font-parágrafos);
    font-size: 12pt;
    color: #d7d7d7;
}
.container-contact nav{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    filter: invert(0.8)
}
.container-copy{
    height: 100%;
    width: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 50px 20px;
}
.container-copy h3{
    font-family: var(--font-títulos);
    font-size: 12pt;
    color: #f5f5f5;
}
.container-copy p{
    font-family: var(--font-parágrafos);
    font-size: 12pt;
    color: #d7d7d7;
}
.container-copy span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateY(50px);
    font-family: var(--font-parágrafos);
    font-size: 12pt;
    color: #f5f5f5;
    gap: 10px;
}
.container-copy span img{
    width: 30px;
    height: max-content;
}



@media (max-width: 781px) {
    .data-project{
        font-size: 10pt;
    }
    .title-project{
        font-size: 12pt;
    }
    .link-project{
        font-size: 10pt;
    }
    .desc-projeto{
        font-size: 10pt;
    }
    .container-contact h4{
        font-family: var(--font-títulos);
        font-size: 8pt;
    }
    .present-project{
        gap: 10px;
    }
    .present-project h2{
        font-size: 20pt;
    }
}
@media (max-width: 680px){
    .ctahome h1{
        font-size: 10pt;
        letter-spacing: 2px;
        font-weight: 100;
    }
    .ctahome a{
        font-size: 30pt;
    }
}
@media (max-width: 600px) {
    .tech-box{
        height: 40px;
    }
    .tech-box div{
        height: 40px;
        width: 40px;
    }
    .box-projetos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 50vw);
        column-gap: 4%;
        row-gap: 50px;
    }
    .box-projetosComplete{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 50vw);
        column-gap: 4%;
        row-gap: 50px;
    }
    .box-projetosPessoais{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50vw;
        column-gap: 4%;
        row-gap: 50px;
    }
    .ctahome h1{
        font-size: 10pt;
    }
    .ctahome a{
        font-size: 18pt;
    }
    .container-copy span{
        font-size: 8pt;
    }
    .container-copy span img{
        width: 20px;
        height: max-content;
    }
    .present-project{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10px;
    }
    .present-project h2{
        font-family: var(--font-títulos);
        font-size: 25pt;
        color: white;
        border-bottom: 1px solid rgb(218, 255, 54);
        border-right: none;
        padding-right: 15px;
    }
    .present-project a img{
        width: 30px;
        transform: translateY(2px);
    }
}
@media (max-width: 510px){
    footer{
        flex-direction: column;
    }
    .container-contact{
        padding-bottom: 10px;
    }
    .container-copy{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 10px;
        padding: 0px 20px 20px 20px;
    }
    .container-copy span {
        margin-bottom: 80px;
    }
    .info{
        font-size: 11pt;
    }
}
@media (max-width: 480px){
    .present-project h1{
        font-size: 8pt;
    }
    .present-project h2{
        font-size: 20pt;
    }
}
@media (max-width: 365px){
    .ctahome h1{
        font-size: 7pt;
    }
    .ctahome a{
        font-size: 15pt;
    }
}