*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-primária: rgb(0, 0, 27);
    --cor-secundária: rgb(0, 0, 37);
    --cor-título: #6C6CE1;
    --cor-títuloDark: #363694;
    --cor-base: #1e1825;
    --font-títulos: 'Inter', sans-serif;
    --font-parágrafos: 'Cabin', sans-serif;
}
@keyframes logo {
    0%{
        color: var(--cor-base);
    }
    100%{
        color: var(--cor-títuloDark);
    }
}
@keyframes buttons {
    0%{
        width: 0%;
    }
    100%{
        height: 3px;
        background-color: white;
        width: 100%;
    }
}
body{
    background-color: var(--cor-primária);
}
header{
    height: 90px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: none;
}
#LimaDev2{
    margin-left: 50px;
    width: 200px;
    color: var(--cor-título);
    font-family: var(--font-títulos);
    font-size: 20pt;
    font-weight: 900;
}
#buttonHome{
    font-family: var(--font-títulos);
    font-size: 12pt;
    position: absolute;
    right: 180px;
}
.botao-normal1{
    font-family: var(--font-títulos);
    font-size: 12pt;
    background: none;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.divselector{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    right: 50px;
    height: max-content;
    cursor: pointer;
    width: max-content;
}
.divselector:hover{
    .selector{
        animation-name: buttons;
        animation-duration: 0.5s;
        animation-iteration-count: initial;
        animation-direction: normal;
        width: 100%;
        height: 2px;
        background-color: white;
    }
}
a{
    text-decoration: none;
    color: white;
}
.AbaName{
    color: var(--cor-título);
    font-family: var(--font-títulos);
    font-size: 13pt;
    margin: auto;
    margin-top: 30px;
}
#AbaProjetos{
    margin-top: 50px;
    height: max-content;
    background-color: var(--cor-primária);
}
#GradeDeProjetos{
    display: grid;
    grid-template-columns: 400px 400px;
    width: max-content;
    row-gap: 40px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 50px;
}
#boxTitleProject{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#DescriProjeto21, #DescriProjeto41, #DescriProjeto31{
    overflow-y: scroll;
}
#DescriProjeto21::-webkit-scrollbar, #DescriProjeto41::-webkit-scrollbar, #DescriProjeto31::-webkit-scrollbar{
    width: 8px;
}
#DescriProjeto21::-webkit-scrollbar-thumb, #DescriProjeto41::-webkit-scrollbar-thumb, #DescriProjeto31::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
}
#DescriProjeto21::-webkit-scrollbar-track, #DescriProjeto41::-webkit-scrollbar-track, #DescriProjeto31::-webkit-scrollbar-track{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
}
.cardProjeto{
    width: 350px;
    height: 250px;
    background-size: 150%;
    margin: auto;
    background-repeat: no-repeat;
    background-color: gray;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.178);
}
#projeto1{
    background-image: url('imagens/scrnli_07_11_2023_21-58-31.png');
    transition: 0.3s;
    background-position: left top;
}
#projeto1:hover, #projeto2:hover, #projeto3:hover, #projeto4:hover{
    background-size: 170%;
    transition: 0.3s;
}
#projeto2{
    background-image: url('imagens/scrnli_12_11_2023_02-14-52.png');
    background-position: right top;
}
#projeto3{
    background-image: url('imagens/scrnli_13_11_2023_21-52-33.png');
    background-position: center left;
}
#projeto4{
    background-image: url('imagens/scrnli_08_12_2023_05-03-31.png');
    background-position: center left;
}
.card1-1{
    height: 100%;
    width: 0px;
    color: white;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card1-2{
    width: 95%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(3px);
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 0px 10px 5px rgba(0, 0, 0, 0.185);
}
.btt1-1{
    position: relative;
    left: 5px;
    top: 10px;
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.btt1-2{
    position: relative;
    left: 5px;
    top: 10px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.barra1-1{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    margin-left: 5px;
}
.barra1-2{
    width: 30px;
    height: 5px;
    background-color: var(--cor-título);
    border-radius: 5px;
    rotate: 45deg;
    transition: 0.5s;
    margin-top: 10px;
}
.barra2-1{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: 1s;
    margin-right: 5px;
}
.barra2-2{
    width: 30px;
    height: 5px;
    background-color: var(--cor-título);
    border-radius: 5px;
    display: none;
    transition: 1s;
}
.barra3-1{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    margin-left: 5px;
}
.barra3-2{
    width: 30px;
    height: 5px;
    background-color: var(--cor-título);
    border-radius: 5px;
    transition: 0.5s;
    rotate: -45deg;
    margin-bottom: 10px;
}

.DescriProjeto1{
    display: none;
    opacity: 0;
}
.DescriProjeto2{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 30px;
    width: 300px;
    margin-left: 10px;
    transition: 1s;
    opacity: 1;
    height: 150px;
    overflow: hidden;
}
.TitleProjeto1{
    font-family: var(--font-títulos);
    font-size: 12pt;
}
.TextProject1{
    font-family: var(--font-parágrafos);
    margin-top: 5px;
    color: gray;
}
.TitleTech1{
    font-family: var(--font-títulos);
    font-size: 12pt;
    margin-top: 10px;
}
.boxTech1{
    margin-top: 5px;
    height: 30px;
}
.imgTech1{
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
.LinkCode1{
    display: none;
}
.LinkCode2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 10px;
    margin-top: 5px;
    font-family: var(--font-parágrafos);
}

#returnTopo{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: blue;
    font-family: var(--font-títulos);
    font-weight: 900;
    position: fixed;
    top: 80vh;
    right: 30px;
    cursor: pointer;
    z-index: 7000;
}

/*estilos roda-pé*/
footer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( to left top, var(--cor-título), rgb(0, 0, 83)) ;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-bottom: 50px;
}
.titulo-footer{
    margin: auto;
    width: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--font-títulos);
    font-size: 13pt;
    color: white;
}
#FormContact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    width: 30%;
}
#formulario h1{
    font-family: var(--font-títulos);
    font-size: 13pt;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}
.Info{
    margin-top: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    font-family: var(--font-parágrafos);
    font-size: 11pt;
    color: gray;
}
.Info::placeholder{
    color: rgb(80, 80, 80);
}
#texto-envio{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    font-family: var(--font-parágrafos);
    font-size: 10pt;
    color: white;
    padding: 20px;
    margin-top: 10px;
    outline: none;
}
#texto-envio::placeholder{
    color: white;
}
#bttsend{
    background-color: black;
    color: white;
    margin-top: 30px;
    width: max-content;
    height: max-content;
    font-family: var(--font-títulos);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#linha-de-separação{
    background-color: rgba(255, 255, 255, 0.178);
    height: 450px;
    width: 2px;
    color: rgba(255, 255, 255, 0);
}
#links{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
}
#Redes-Sociais{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 250px;
    justify-content: space-evenly;
    font-family: var(--cor-título);
    font-size: 13pt;
}
.divIMG{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-image: linear-gradient( to right, var(--cor-título), var(--cor-títuloDark));
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    margin-top: 5px;
    cursor: pointer;
}
.divIMG:hover{
    scale: 1.1;
}
#copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;/*essa atribuição garante que ele fique no funco de #copy*/
}
#Copy-Right{
    font-family: var(--font-parágrafos);
    font-size: 9pt;
    color: white;
}
.Socialimg{
    width: 30px;
    height: 30px;
}
#logo{
    color: var(--cor-base);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*responsividade*/

@media (max-width: 900px){
    #GradeDeProjetos{
        grid-template-columns: max-content;
        row-gap: 40px;
    }
}
@media (max-width: 500px) {
    .cardProjeto{
        scale: 0.8;
    }
    #GradeDeProjetos{
        row-gap: 0px;
    }
}
/*responsividade*/
@media (max-width: 1020px){
    #ServicesMain{
        flex-direction: column;
        height: 900px;
    }
}
@media (max-width: 900px){
    #FormContact{
        flex-direction: column;
    }
    #formulario{
        width: 60%;
    }
    #linha-de-separação{
        width: 70%;
        height: 3px;
        margin-top: 40px;
    }
    #links{
        width: 100%;
    }
    #Redes-Sociais{
        flex-direction: row;
        margin: auto;
        margin-top: 30px;
        width: 300px;
    }
    #copy{
        width: 60%;
        margin: auto;
    }
}
@media (max-width: 750px){
    #LimaDev2{
        display: none;
    }
    header{
        justify-content: center;
        gap: 50px;
    }
    #buttonHome{
        position: none;
    }
    .divselector{
        position: none;
    }
    footer{
        border-radius: 0px;
    }
}
@media (max-width: 490px){
    input{
        height: 20px;
    }
    #formulario{
        width: 90%;
    }
    #formulario h1{
        font-size: 10pt;
    }
}
@media (max-width: 400px){
    input{
        font-size: 10pt;
        height: 10px;
    }
}