*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-primária: rgb(0, 0, 27);
    --cor-secundária: rgb(0, 0, 37);
    --cor-título: #6C6CE1;
    --cor-títuloDark: #363694;
    --cor-base: #1e1825;
    --font-títulos: 'Inter', sans-serif;
    --font-parágrafos: 'Cabin', sans-serif;
}
#AbaProjetos{
    height: max-content;
    background-color: var(--cor-primária);
}
#GradeDeProjetos{
    display: grid;
    grid-template-columns: 400px 400px;
    width: max-content;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 50px;
}
#boxTitleProject{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#DescriProjeto21{
    overflow-y: scroll;
}
#DescriProjeto21::-webkit-scrollbar{
    width: 8px;
}
#DescriProjeto21::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
}
#DescriProjeto21::-webkit-scrollbar-track{
    background-color: gray;
    border-radius: 5px;
}
.cardProjeto{
    width: 350px;
    height: 250px;
    background-size: 150%;
    margin: auto;
    background-repeat: no-repeat;
    background-color: gray;
    
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.178);
}
#projeto1{
    background-image: url('imagens/scrnli_07_11_2023_21-58-31.png');
    transition: 0.3s;
    background-position: left top;
}
#projeto1:hover, #projeto2:hover{
    background-size: 170%;
    transition: 0.3s;
}
#projeto2{
    background-image: url('imagens/scrnli_12_11_2023_02-14-52.png');
    background-position: right top;
}
.card1-1{
    height: 100%;
    width: 0px;
    color: white;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card1-2{
    width: 95%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(3px);
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 0px 10px 5px rgba(0, 0, 0, 0.185);
}
.btt1-1{
    position: relative;
    left: 5px;
    top: 10px;
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.btt1-2{
    position: relative;
    left: 5px;
    top: 10px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.barra1-1{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    margin-left: 5px;
}
.barra1-2{
    width: 30px;
    height: 5px;
    background-color: var(--cor-título);
    border-radius: 5px;
    rotate: 45deg;
    transition: 0.5s;
    margin-top: 10px;
}
.barra2-1{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: 1s;
    margin-right: 5px;
}
.barra2-2{
    width: 30px;
    height: 5px;
    background-color: var(--cor-título);
    border-radius: 5px;
    display: none;
    transition: 1s;
}
.barra3-1{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    margin-left: 5px;
}
.barra3-2{
    width: 30px;
    height: 5px;
    background-color: var(--cor-título);
    border-radius: 5px;
    transition: 0.5s;
    rotate: -45deg;
    margin-bottom: 10px;
}

.DescriProjeto1{
    display: none;
    opacity: 0;
}
.DescriProjeto2{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 30px;
    width: 300px;
    margin-left: 10px;
    transition: 1s;
    opacity: 1;
    height: 150px;
    overflow: hidden;
}
.TitleProjeto1{
    font-family: var(--font-títulos);
    font-size: 12pt;
}
.TextProject1{
    font-family: var(--font-parágrafos);
    margin-top: 5px;
    color: gray;
}
.TitleTech1{
    font-family: var(--font-títulos);
    font-size: 12pt;
    margin-top: 10px;
}
.boxTech1{
    margin-top: 5px;
    height: 30px;
}
.imgTech1{
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
.LinkCode1{
    display: none;
}
.LinkCode2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: 10px;
    margin-top: 5px;
    font-family: var(--font-parágrafos);
}

#returnTopo{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: var(--cor-títuloDark);
    font-family: var(--font-títulos);
    font-weight: 900;
    position: fixed;
    top: 80vh;
    right: 30px;
    cursor: pointer;
}

/*responsividade*/

@media (max-width: 900px){
    #GradeDeProjetos{
        grid-template-columns: 400px;
        row-gap: 50px;
    }
}