*{
    margin: 0%;
    padding: 0%;
}
@keyframes buttons {
    0%{
        width: 0%;
    }
    100%{
        height: 3px;
        background-color: white;
        width: 100%;
    }
}
@keyframes animação-perfil {
    0%{
        filter: opacity(0);
    }
    50%{
        filter: opacity(0.5);
    }
    100%{
        filter: opacity(0);
    }
}
a{
    text-decoration: none;
    color: white;
}
:root{
    --cor-primária: rgb(0, 0, 27);
    --cor-secundária: rgb(0, 0, 37);
    --cor-título: #6C6CE1;
    --cor-títuloDark: #363694;
    --cor-base: #1e1825;
    --font-títulos: 'Inter', sans-serif;
    --font-parágrafos: 'Cabin', sans-serif;
}
body{
    background-color: var(--cor-primária);
}
.AbaName{
    color: var(--cor-título);
    font-family: var(--font-títulos);
    font-size: 13pt;
    margin: auto;
    margin-top: 30px;
}
/*estilos parte de cima*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 37);
    height: 500px;
    padding-bottom: 50px;
}
#LimaDev{
    margin-left: 100px;
    color: var(--cor-título);
    font-family: var(--font-títulos);
    font-size: 20pt;
    font-weight: 900;
}
#topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 100%;
    backdrop-filter: blur(15px);
}
#perfil{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-shadow: 0px 0px 10px 10px black;
    z-index: 200;
}
#perfil img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 60px;
}
#imagem-perfil{
    width: max-content;
    background-color: transparent;
    margin: auto;
}
#perfil-texto{
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
#animationName{
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
    font-family: var(--font-títulos);
    font-weight: 940;
    font-size: 24pt;
    color: white;
    margin-right: 7px;
    align-items: center;
    justify-content: center;
    animation-name: animação-perfil;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#perfil h1{
    color: var(--cor-título);
    font-family:var(--font-parágrafos);
    font-size: 23pt;
    font-weight: 800;
}
#EfectFrase{
    color: white;
    font-family: 'Rowdies', cursive;;
    font-weight: 400;
    font-size: 22pt;
    margin-top: 20px;
}
#conteúdo-central{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin: auto;
}
#navegador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    width: 50%;
    margin: auto;
    font-family: var(--font-parágrafos);
    font-size: 11pt;
}
#Menu {
    display: none;
}
.botao-normal{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
#contact{
    border: 2px solid white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-weight: 800;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
#contact:hover{
    background-color: rgb(255, 255, 255);
    color: gray;
    transition: 0.5s;
}
.divselector{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: max-content;
}
.divselector:hover{
    .selector{
        animation-name: buttons;
        animation-duration: 0.5s;
        animation-iteration-count: initial;
        animation-direction: normal;
        width: 100%;
        margin-top: 2px;
        height: 3px;
        background-color: white;
    }
}


/*estilos para projetos*/
#My-projects{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primária);
    padding-bottom: 60px;
}
.AbaProjetos{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    height: 80%;
    margin: auto;
}
#projeto1, #projeto3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#projeto2, #projeto4{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.description{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    padding: 50px;
}
.title{
    color: var(--cor-título);
    font-family: var(--font-títulos);
    font-size: 12pt;
    font-weight: 600;
    margin-top: 2%;
}
.subTitle{
    color: white;
    font-family: var(--font-títulos);
    font-size: 12pt;
    margin-top: 2%;
}
.projetoDesc{
    color: white;
    font-family: var(--font-parágrafos);
    font-size: 10pt;
    margin-top: 2%;
}
.Deploy{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10pt;
    margin-top: 2%;
}
.Deploy:hover{
    color: rgb(189, 189, 189);
    transition: 0.2s;
}
.projeto{
    width: 250px;
    height: 250px;
    border: 5px solid var(--cor-título);
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 5px #36369413;
}
.imagemProjeto{
    position: relative;
    top: -20px;
    left: 20px;
    width: 100%;
}
#SeeMore{
    background-image: linear-gradient( to right, var(--cor-título), var(--cor-títuloDark));
    width: max-content;
    border: none;
    padding: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
#SeeMore:hover{
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.13);
    transition: 0.4s;
    
}

/*estilos parte serviços*/
#my-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-secundária);
    height: max-content;
    padding-top: 30px;
    padding-bottom: 60px;
}
#ServicesMain{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}
.borda{
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient( to top right, rgb(40, 40, 85), rgb(13, 13, 201));
    box-shadow: 0px 0px 15px 10px #6c6ce12a;
}
.CardServices{
    background-color: var(--cor-secundária);
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.ImgTi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.ImagemService{
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ImagemService img{
    width: 40px;
}
.TitleService{
    padding: 10px;
    text-align: start;
    font-family: var(--font-títulos);
    font-size: 15pt;
    color: white;
    width: 180px;
}
.DescriptionService{
    font-family: var(--font-parágrafos);
    font-size: 8pt;
    color: rgb(190, 190, 190);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*estilos roda-pé*/
footer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( to left top, var(--cor-título), rgb(0, 0, 83)) ;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-bottom: 50px;
}
.titulo-footer{
    margin: auto;
    width: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: var(--font-títulos);
    font-size: 13pt;
    color: white;
}
#FormContact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    width: 30%;
}
#formulario h1{
    font-family: var(--font-títulos);
    font-size: 13pt;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}
.Info{
    margin-top: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    font-family: var(--font-parágrafos);
    font-size: 11pt;
    color: gray;
}
.Info::placeholder{
    color: rgb(80, 80, 80);
}
#texto-envio{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    font-family: var(--font-parágrafos);
    font-size: 10pt;
    color: white;
    padding: 20px;
    margin-top: 10px;
    outline: none;
}
#texto-envio::placeholder{
    color: white;
}
#bttsend{
    background-color: black;
    color: white;
    margin-top: 30px;
    width: max-content;
    height: max-content;
    font-family: var(--font-títulos);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#linha-de-separação{
    background-color: rgba(255, 255, 255, 0.178);
    height: 450px;
    width: 2px;
    color: rgba(255, 255, 255, 0);
}
#links{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
}
#Redes-Sociais{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 250px;
    justify-content: space-evenly;
    font-family: var(--cor-título);
    font-size: 13pt;
}
.divIMG{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-image: linear-gradient( to right, var(--cor-título), var(--cor-títuloDark));
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    margin-top: 5px;
    cursor: pointer;
}
.divIMG:hover{
    scale: 1.1;
}
#copy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;/*essa atribuição garante que ele fique no funco de #copy*/
}
#Copy-Right{
    font-family: var(--font-parágrafos);
    font-size: 9pt;
    color: white;
}
.Socialimg{
    width: 30px;
    height: 30px;
}

/*responsividade*/
@media (max-width: 1020px){
    #ServicesMain{
        flex-direction: column;
        height: 900px;
    }
}
@media (max-width: 900px){
    .description{
        width: 300px;
    }
    #projeto4, #projeto3, #projeto2, #projeto1{
        display: flex;
        flex-direction: column;
    }
    #FormContact{
        flex-direction: column;
    }
    #formulario{
        width: 60%;
    }
    #linha-de-separação{
        width: 70%;
        height: 3px;
        margin-top: 40px;
    }
    #links{
        width: 100%;
    }
    #Redes-Sociais{
        flex-direction: row;
        margin: auto;
        margin-top: 30px;
        width: 300px;
    }
    #copy{
        width: 60%;
        margin: auto;
    }
}
@media (max-width: 750px){
    #LimaDev{
        display: none;
    }
    #topo{
        position: fixed;
        top: 0;
        backdrop-filter: blur(0px);
        z-index: 4000;
    }
    #Menu{
        display: block;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    #Menu img{
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
    #certificações{
        opacity: 0;
    }
    #bttProjetos{
        opacity: 0;
    }
    #contact{
        opacity: 0;
    }
    #bttServiços{
        opacity: 0;
    }
    footer{
        border-radius: 0px;
    }
}
@media (max-width: 490px){
    input{
        height: 20px;
    }
    #imagem-perfil{
        width: 90px;
        height: 90px;
        margin-bottom: 80px;
    }
    #imagem-perfil img{
        width: 90px;
        height: 90px;
    }
    #animationName{
        font-size: 20pt;
    }
    #AlbertName{
        font-size: 12pt;
    }
    #EfectFrase{
        font-size: 12pt;
    }
    #formulario{
        width: 90%;
    }
    #formulario h1{
        font-size: 10pt;
    }
}
@media (max-width: 400px){
    input{
        font-size: 10pt;
        height: 10px;
    }
}